---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10dc748b229caedec1848cecf839852b&exclude=minutely&lat=39.7392&lon=104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":104.9903,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1660077523,"sunrise":1660082818,"sunset":1660133044,"temp":69.26,"feels_like":69.13,"pressure":1004,"humidity":69,"dew_point":58.66,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":9.37,"wind_deg":62,"wind_gust":14.88,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1660075200,"temp":69.28,"feels_like":69.15,"pressure":1004,"humidity":69,"dew_point":58.68,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":9.24,"wind_deg":74,"wind_gust":15.7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.09},{"dt":1660078800,"temp":69.26,"feels_like":69.13,"pressure":1004,"humidity":69,"dew_point":58.66,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":9.37,"wind_deg":62,"wind_gust":14.88,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.09},{"dt":1660082400,"temp":68.97,"feels_like":68.9,"pressure":1004,"humidity":71,"dew_point":59.18,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":7.36,"wind_deg":63,"wind_gust":12.68,"weather":[{"id":80[...]
