---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10dc748b229caedec1848cecf839852b&exclude=minutely&lat=39.7392&lon=104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":104.9903,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1659908887,"sunrise":1659909904,"sunset":1659960388,"temp":68.63,"feels_like":68.11,"pressure":1007,"humidity":62,"dew_point":55.11,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.84,"wind_deg":22,"wind_gust":18.45,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1659906000,"temp":69.26,"feels_like":68.7,"pressure":1007,"humidity":60,"dew_point":54.81,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":11.21,"wind_deg":12,"wind_gust":14.5,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.43},{"dt":1659909600,"temp":68.63,"feels_like":68.11,"pressure":1007,"humidity":62,"dew_point":55.11,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.84,"wind_deg":22,"wind_gust":18.45,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.59},{"dt":1659913200,"temp":68.45,"feels_like":68,"pressure":1007,"humidity":64,"dew_point":55.81,"uvi":0.02,"clouds":100,"visibility":10000,"wind_speed":14.88,"wind_deg":51,"wind_gust":16.87,"weather":[{"i[...]
