---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address/?content_type=application/json&key=QJlnvYzbwEzVRyQ6AP9TjMeb9IRELLZ9&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 23:56:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=QJlnvYzbwEzVRyQ6AP9TjMeb9IRELLZ9&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-99664378"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=QJlnvYzbwEzVRyQ6AP9TjMeb9IRELLZ9&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1521482711"}]}]}'
  recorded_at: Tue, 09 Aug 2022 23:56:34 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10dc748b229caedec1848cecf839852b&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660089394,"sunrise":1660046789,"sunset":1660097068,"temp":91.62,"feels_like":88.2,"pressure":1014,"humidity":22,"dew_point":47.43,"uvi":0.96,"clouds":30,"visibility":10000,"wind_speed":3,"wind_deg":38,"wind_gust":3,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1660086000,"temp":91.53,"feels_like":87.94,"pressure":1013,"humidity":21,"dew_point":46.11,"uvi":2.43,"clouds":28,"visibility":10000,"wind_speed":3.89,"wind_deg":83,"wind_gust":6.17,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1660089600,"temp":91.62,"feels_like":88.2,"pressure":1014,"humidity":22,"dew_point":47.43,"uvi":0.96,"clouds":30,"visibility":10000,"wind_speed":5.19,"wind_deg":99,"wind_gust":6.04,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1660093200,"temp":91.29,"feels_like":87.71,"pressure":1013,"humidity":21,"dew_point":45.93,"uvi":0.18,"clouds":26,"visibility":10000,"wind_speed":7.52,"wind_deg":118,"wind_gust":7.9,"weather":[{"id":802[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Rq0L_iTwEB5ND0or9fv5v_tqCjZWBrL5JCxqtdqBTpZmP845Irup4xzA4EMqRjcWYWGE2c8TlarqiXDC7W_cgtRu2gWXoAA0Tm51ZDz7O4leNCkbpv2dP3q3CiXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4990'
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-tdrzn; site=public_api_v3
      X-Zipkin-Id:
      - 4530b81499ed37e9
      Ratelimit-Resettime:
      - '2022-08-10T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "6kRbrLNIZKZ1fcjgsTFobg", "alias": "fortune-wok-to-table-denver",
        "name": "Fortune Wok to Table", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/aVmP8cWwrCsLWWjwx8wvjg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=M3huB9jyN1kCamubGR7EpQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=M3huB9jyN1kCamubGR7EpQ",
        "review_count": 370, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "dimsum", "title": "Dim Sum"}, {"alias": "shanghainese", "title":
        "Shanghainese"}], "rating": 4.5, "coordinates": {"latitude": 39.72124, "longitude":
        -104.9543}, "transactions": ["delivery"], "price": "$$", "location": {"address1":
        "2817 E 3rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80206", "country": "US", "state": "CO", "display_address": ["2817 E 3rd Ave",
        "Denver, CO 80206"]}, "phone": "+13033217788", "display_phone": "(303) 321-7788",
        "distance": 2093.330545587293}, {"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias":
        "star-kitchen-denver", "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=M3huB9jyN1kCamubGR7EpQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=M3huB9jyN1kCamubGR7EpQ",
        "review_count": 1096, "categories": [{"alias": "dimsum", "title": "Dim Sum[...]
