---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=Pueblo,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Rq0L_iTwEB5ND0or9fv5v_tqCjZWBrL5JCxqtdqBTpZmP845Irup4xzA4EMqRjcWYWGE2c8TlarqiXDC7W_cgtRu2gWXoAA0Tm51ZDz7O4leNCkbpv2dP3q3CiXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
      X-Zipkin-Id:
      - 6e5d18a722a0bf4a
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-rfdjp; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-08-10T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/HqKiK_Ju61fC4nSFq_fgHg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=M3huB9jyN1kCamubGR7EpQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=M3huB9jyN1kCamubGR7EpQ",
        "review_count": 80, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 6632.28027227077}, {"id": "M4MwxQAA58B7ENV8ootI-w",
        "alias": "kans-kitchen-pueblo", "name": "Kan''s Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/RxBfJ3hjre51jCpXqNlfjA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=M3huB9jyN1kCamubGR7EpQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=M3huB9jyN1kCamubGR7EpQ",
        "review_count": 28, "categories": [{"alias": "chinese", "title": "Chinese[...]
