---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10dc748b229caedec1848cecf839852b&exclude=minutely&lat=39.7392&lon=104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":104.9903,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1660089261,"sunrise":1660082818,"sunset":1660133044,"temp":66.72,"feels_like":66.81,"pressure":1006,"humidity":79,"dew_point":60.01,"uvi":0.11,"clouds":100,"visibility":10000,"wind_speed":8.3,"wind_deg":69,"wind_gust":11.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1660086000,"temp":66.72,"feels_like":66.76,"pressure":1006,"humidity":78,"dew_point":59.65,"uvi":0.02,"clouds":100,"visibility":10000,"wind_speed":7.38,"wind_deg":64,"wind_gust":10.8,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.45,"rain":{"1h":0.37}},{"dt":1660089600,"temp":66.72,"feels_like":66.81,"pressure":1006,"humidity":79,"dew_point":60.01,"uvi":0.11,"clouds":100,"visibility":10000,"wind_speed":8.3,"wind_deg":69,"wind_gust":11.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.49},{"dt":1660093200,"temp":67.08,"feels_like":67.15,"pressure":1006,"humidity":78,"dew_point":60.01,"uvi":1.39,"clouds":100,"visibility":10000,"wind_speed":7.85,"wind_deg":74,"wind_gust":8.66,"weat[...]
