---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10dc748b229caedec1848cecf839852b&exclude=minutely&lat=39.7392&lon=104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":104.9903,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1659976060,"sunrise":1659996361,"sunset":1660046717,"temp":63.05,"feels_like":63.1,"pressure":1009,"humidity":86,"dew_point":58.8,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":24.11,"wind_deg":69,"wind_gust":33.44,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1659974400,"temp":63.05,"feels_like":63.1,"pressure":1009,"humidity":86,"dew_point":58.8,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":24.11,"wind_deg":69,"wind_gust":33.44,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.47,"rain":{"1h":0.18}},{"dt":1659978000,"temp":63.05,"feels_like":63.14,"pressure":1009,"humidity":87,"dew_point":59.13,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":23.98,"wind_deg":71,"wind_gust":33.49,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.59},{"dt":1659981600,"temp":62.74,"feels_like":62.85,"pressure":1009,"humidity":88,"dew_point":59.14,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":24.16,"wind_deg":64,"wind_gust":32.55,"weathe[...]
