---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=Chinese&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Rq0L_iTwEB5ND0or9fv5v_tqCjZWBrL5JCxqtdqBTpZmP845Irup4xzA4EMqRjcWYWGE2c8TlarqiXDC7W_cgtRu2gWXoAA0Tm51ZDz7O4leNCkbpv2dP3q3CiXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 881e004f7c455d8c
      X-Routing-Service:
      - routing-main--uswest2-5569564ccc-5tq46; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-152-12-uswest2bprod
      X-Extlb:
      - 10-69-152-12-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "gagUrh3806qc5hZ14F0Odw", "alias": "denver-biscuit-denver-13",
        "name": "Denver Biscuit", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/bxPN9shgJEtwvT3Hrf_pCg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/denver-biscuit-denver-13?adjust_creative=M3huB9jyN1kCamubGR7EpQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=M3huB9jyN1kCamubGR7EpQ",
        "review_count": 4244, "categories": [{"alias": "sandwiches", "title": "Sandwiches"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}], "rating": 4.5,
        "coordinates": {"latitude": 39.740384, "longitude": -104.949098}, "transactions":
        ["pickup", "delivery"], "price": "$$", "location": {"address1": "3237 E Colfax
        Ave", "address2": "", "address3": null, "city": "Denver", "zip_code": "80206",
        "country": "US", "state": "CO", "display_address": ["3237 E Colfax Ave", "Denver,
        CO 80206"]}, "phone": "+13033777900", "display_phone": "(303) 377-7900", "distance":
        1887.2489668123706}, {"id": "dnJvyhSPiIVlmpdM_3SCrg", "alias": "snooze-an-a-m-eatery-denver-12",
        "name": "Snooze, an A.M. Eatery", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/cniSi66T4iS6nqCdML6HUQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/snooze-an-a-m-eatery-denver-12?adjust_creative=M3huB9jyN1kCamubGR7EpQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=M3huB9jyN1kCamubGR7EpQ",
        "review_count": 4639, "categories[...]
